pydantic[email]
pytest
python-decouple
fastapi==0.129.0
uvicorn==0.41.0
wsproto==1.2.0
firebase-admin==7.1.0
google-cloud-firestore==2.23.0
google-cloud-storage==3.9.0
python-dotenv==1.2.1
email-validator==2.3.0
python-dateutil==2.9.0.post0
reportlab==4.4.10
python-multipart==0.0.22
requests==2.31.0
